{% extends "base.html" %} {% block content %}
<h1 class="text-center">Welcome to Our Database</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Musician Name</th>
      <th scope="col">Email</th>
      <th scope="col">Album Rating</th>
      <th scope="col">Instrument Type</th>
      <th scope="col">Album Name</th>
      <th scope="col">Release Date</th>
      {% if request.user.is_authenticated %}
      <th scope="col">Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      <td>{{i.id}}</td>
      <td>
        {% if request.user.is_authenticated %}
        <a
          href="{% url 'edit_musician' i.musician.id %}"
          class="btn btn-primary sm"
          >{{i.musician.first_name}} {{i.musician.last_name}}</a
        >
        {% else %}
        <button class="btn btn-info" disabled>{{i.musician.first_name}} {{i.musician.last_name}}</button>
        {% endif %}
      </td>
      <td>{{i.musician.email}}</td>
      <td>{{i.album_rating}}</td>
      <td>{{i.musician.instrument_type}}</td>
      <td>{{i.album_name}}</td>
      <td>{{i.release_date}}</td>
      {% if request.user.is_authenticated %}
      <td>
        <a href="{% url 'edit_album' i.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'delete_album' i.id %}" class="btn btn-danger"
          >Delete</a
        >
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
