#navbar-icon {
    width: 239px;
    height: 32px;
}

.carousel {
    width: 100%;
    height: 100%;
    margin: auto;
}

.carousel-item img {
    width: 400px;
    height: 630px;
    object-fit: cover;
    object-position: center;
}

.carousel-item {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    object-fit: hidden;
}