#nav-container {
  margin: 10px;
  text-align: center;
  display: flex;
  gap: 200px;
}
#menu-container {
  display: flex;
  gap: 200px;
  text-align: center;
}
.card-box {
  border: none;
}
.video-box {
  width: 100px;
  height: 200px;
}
#video-container {
  width: 400px;
  height: 500px;
  display: flex;
  gap: 300px;
  /* flex-wrap: wrap; */
  /* border: 1px solid gray; */
}
.thumbnail-box {
  width: 250px;
  height: 300px;
}
.profile-box {
  width: 30px;
  height: 40px;
  /* flex-wrap: wrap; */
}
.profile-title-container {
  display: flex;
}

/* #sort-btn {
  border: none;
}
#blog-btn {
  border: none;
} */

button {
  border: none;
  padding: 10px;
}
.verified-box {
  width: 10px;
  height: 10px;
  border: none;
}
.name-verification-container {
  display: flex;
  border: none;
}
.no-icon-warning {
  text-align: center;
  gap: inherit;
}
